* css animation (prefixes are cut) */
.appear {
        transform-origin:center top;
        animation:show 3s both;
}
span.appear {display:inline-block;}
.d1 {animation-delay:1s;}
.d2 {animation-delay:2s;}
 
@keyframes show {
0% {
        transform:translate(0,3em);
        opacity:0;
        text-shadow:0 0 0 #0f0;
}
50% {
/*text-shadow:0 0 0.5em #0f0; コマンドスラッシュ*/
}
100% {
        transform:translate(0,0);
        opacity:1;
        text-shadow:none;
}
}
body {
        background-color:#000;
        margin:0;
}
 
p{
        padding: 0;
}
 
h1 {
        font-size: 14px;
        text-align: center;
        color: #fff;
}
/* intro */
 
#intro {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
 
#intro p{
        margin:0 1rem;
    color: #fff;
    font-size: 22px;
        letter-spacing: 10px;
    font-family: "源ノ明朝","源暎こぶり明朝",serif;
    -webkit-writing-mode: vertical-rl;
         -ms-writing-mode: tb-rl;
         writing-mode: vertical-rl;
}
 
#wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
 
}
 
.interval {/*親div*/
         position: relative;/*相対配置*/
  }
 
 
.interval img {
         width: 100%;
        opacity: .6;
  }
 
.logo {
        position: absolute;    
        top: 50%;
         left: 50%;
         -ms-transform: translate(-50%,-50%);
         -webkit-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);
         margin:0;
         padding:0;
 
}
 
.logo img {
         width: 100%;
        opacity: 0.7;
       
}
.guide p {
        position: absolute;    
        top: 90%;
         left: 50%;
         -ms-transform: translate(-50%,-50%);
         -webkit-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);
         margin:0;
         padding:0;
        font-family:Muller font;
        font-size:8px;
        font-weight:lighter;
        color:#FFF;
        letter-spacing:4px;
}
 
.guide p a {
        color:#FFF;
        text-decoration:none;  
}
.guide p .fa {
        display: block;
        font-size: 3em;
        color: white;
        text-align:center;
        padding-top: 10px;
 
}
 
.fa {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.1px;
}
/* hover animation */
@-webkit-keyframes fa {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes fa {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes fa-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes fa-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.fa {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.fa:hover, .fa:focus, .fa:active {
  -webkit-animation-name: fa-sink, fa;
  animation-name: fa-sink, fa;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
 
