/* css animation (prefixes are cut) */
.appear {
	transform-origin:center top;
	animation:show 3s both;
}
span.appear {display:inline-block;}
.d1 {animation-delay:1s;}
.d2 {animation-delay:2s;}

@keyframes show {
0% {
	transform:translate(0,3em);
	opacity:0;
	text-shadow:0 0 0 #0f0;
}
50% {
/*text-shadow:0 0 0.5em #0f0; コマンドスラッシュ*/ 
}
100% {
	transform:translate(0,0);
	opacity:1;
	text-shadow:none;
}
}
body {
	background-color:#000;
	margin:0;
}

p{
	padding: 0;
}

h1 {
	font-size: 14px;
	text-align: center;
	color: #fff;
}
/* intro */

#intro {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#intro p{
	margin:0 1rem;
    color: #fff;
    font-size: 22px;
	letter-spacing: 10px;
    font-family: "源ノ明朝","源暎こぶり明朝",serif;
    -webkit-writing-mode: vertical-rl;
  	-ms-writing-mode: tb-rl;
 	writing-mode: vertical-rl;
}

#wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

}

.interval {/*親div*/
  	position: relative;/*相対配置*/
  }

.interval p {/*classがfasのアイコンに対して*/
	position: absolute;
  	top: 60%;
  	left: 50%;
  	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
  	margin:0;
  	padding:0;
  	color: rgba(255, 255, 255, 0.7);
  	font-size: 10px;
  	text-align: center;
  	font-family: 'Optima',sans-serif;
  }

.interval a {
	text-decoration: none;
	color: white;
	letter-spacing: 4px;
}
  
.interval p .fas {
	display: block;
	padding-bottom: 240px;
	font-size: 7em;
	color: rgba(255, 255, 255, 0.7);

}

.interval p .far {
	position: absolute;
	top: 70%;
	font-size: 2em;
	color: rgba(255, 255, 255, 0.7);

}
.interval img {
  	width: 100%;
  }
