/* css animation (prefixes are cut) */
.example {
  position: relative;
  }

.example .fas {/*classがfaのアイコンに対して*/
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  padding:0;/*余計な隙間を除く*/
  color: white;/*アイコン色*/
  font-size: 60px;/*サイズ*/
  }

.example img {
  width: 100%;
  }