/* css animation (prefixes are cut) */
.appear {
	transform-origin:center top;
	animation:show 3s both;
}

@keyframes show {
	0% {
		transform:translate(0,4em);
		opacity:0;
		text-shadow:0 0 0 #0f0;
	}
	50% {
		/*text-shadow:0 0 0.5em #0f0; コマンドスラッシュ*/ 
	}
	100% {
		transform:translate(0,0);
		opacity:1;
		text-shadow:none;
	}
}
h1 {
	text-align: center;
	margin-top: 50vh;
}